{% extends 'index.html' %}
{% block body %}
<div class="card" style="width: 20rem; background-color: LightCoral;">
    <div class="card-header">
        <div class="card-title" style="background-color: Gold;">
            Task Update
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

{% endblock %}